@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.RegisterViewModel>
@using Nancy.Validation;


<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h2>Register</h2>
        <p>
            Use the form below to create a new account.
        </p>
        <p>
            Passwords are required to be a minimum of 8 characters in length.
        </p>
    </div>
</div>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form method="post" data-parsley-validate>
            <h3>Account Information</h3>

            <div class="form-group">
                <label for="UserName">UserName</label>
                <input type="text" class="form-control" name="UserName" value="@Model.UserName" required />
            </div>
            <div class="form-group">
                <label for="Email">Email</label>
                <input type="text" class="form-control" name="Email" value="@Model.Email"
                       data-parsley-type="email" data-parsley-trigger="change" required />
            </div>
            <div class="form-group">
                <label for="Password">Password</label>
                <input type="password" class="form-control" name="Password" id="Password" value="@Model.Password"
                       required />
            </div>
            <div class="form-group">
                <label for="ConfirmPassword">Confirm Password</label>
                <input type="password" class="form-control" name="ConfirmPassword" value="@Model.ConfirmPassword"
                       data-parsley-equalto="#Password" data-parsley-trigger="change" required />
            </div>
            <p>
                <input type="submit" value="Register" />
            </p>
        </form>
    </div>
</div>
