@using System.Collections.Generic
@using DevDayCFP.Extensions
@using DevDayCFP.ViewModels

<div class="container-fluid" id="login-account">
    <div class="section-header">
        <h1>Reset password</h1>
    </div>
    <div class="row-fluid">
        <div class="span6 offset3">
            <form method="post" action="" data-parsley-validate>

                @Html.ValidationSummary((List<ErrorViewModel>)ViewBag.Page.Value.Errors)


                <div class="control-group">
                    <label for="Email">Please enter email address used to register and we will send you link to reset your password *</label>
                    <input type="email" class="span12" name="Email" placeholder="email@xyz.com" required>
                </div>

                <button type="submit" class="btn btn-success">Reset!</button>
            </form>
        </div>
    </div>
</div>