@{
    Layout = "Views/Shared/_Layout.cshtml";
}

<h3>Oh noooo! It's 500</h3>
<p>
    Now it's really messed up! But don't worry and try again :) <br />
    If that won't help, contact us at <a href="mailto:contact@devday.pl">contact@devday.pl</a>
</p>
