@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IList<DevDayCFP.Models.Paper>>

<div class="section-header">
    <h1>Papers List</h1>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <a class="btn btn-sm btn-primary pull-right" href="/papers/add"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add new</a>
    </div>
</div>
<div class="row margin-top-30">
    <div class="col-md-offset-1 col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Lp.</th>
                    <th class="col-md-7">Title</th>
                    <th class="col-md-2">Last modification</th>
                    <th class="col-md-2">Actions</th>
                </tr>
            </thead>
            @for (int i = 0; i < Model.Count(); i++)
            {
                <tr>
                    <td>@(i + 1).</td>
                    <td>@Model[i].Title</td>
                    <td>@Model[i].LastModificationDate</td>
                    <td><a href="/papers/edit/@Model[i].Id">Edit</a></td>
                </tr>
            }
        </table>
    </div>
</div>
