<div class="section-header">
    <h1>Papers List</h1>
</div>
<div class="row">
    <div class="col-md-offset-1 col-md-10">
        <table class="table">
            <thead>
                <tr>
                    <th class="col-md-1">Lp.</th>
                    <th class="col-md-7">Title</th>
                    <th class="col-md-2">Status</th>
                    <th class="col-md-2">Last modification</th>
                </tr>
            </thead>
            <tr>
                <td>1.</td>
                <td>Abstract #1</td>
                <td>Pending Verification</td>
                <td>27-01-2015 16:55:23</td>
            </tr>
            <tr>
                <td>2.</td>
                <td>Abstract #2</td>
                <td>Draft</td>
                <td>28-01-2015 16:35:43</td>
            </tr>
            <tr>
                <td>3.</td>
                <td>Abstract #3</td>
                <td>Accepted</td>
                <td>29-01-2015 17:55:27</td>
            </tr>
        </table>
    </div>
</div>