@using System
<div class="section-header">
    <h1>Account Activated</h1>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-md-10">
        Hey! You're account is now active. You can send us you CFP.
    </div>
</div>