@using System

<div class="container-fluid">
    <div class="section-header">
        <h1>Account <small class="light">Activated</small></h1>
    </div>
    <p class="lead">
        Good deal! You're account is now active. Please proceeed to your <strong><a href="/account/profile">profile</a></strong>.
    </p>
</div>
