@using System

<div class="container-fluid">
    <div class="section-header">
        <h1>Account <small class="light">Activated</small></h1>
    </div>
    <p class="lead">
        Hey! You're account is now active. You can send us you CFP.
    </p>
</div>