@{
    Layout = "Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="container-fluid">
    <div class="section-header">
        <h1><small class="light">Call for Papers</small> Closed</h1>
    </div>

    <p class="lead">Thanks for all your submissions! We will review them by <strong>the end of June</strong> and will let everyone interested know at the very beginning of July.</p>
</div>