@{
    Layout = "Views/Shared/_LayoutNoMenu.cshtml";
}

<div class="container-fluid">
    <div class="section-header">
        <h1><small class="light">Call for Papers</small> Closed</h1>
    </div>

    <p class="lead">Sorry folks! CFP is Closed</p>
</div>