@using System
<div class="section-header">
    <h1>Account Inactive</h1>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-md-10">
        Please confirm your registration by clicking a link in email message we have sent you!
    </div>
</div>