@using System

<div class="container-fluid">
    <div class="section-header">
        <h1>Account <small class="light">Inactive</small></h1>
    </div>
    <p class="lead">
        The account activation email should already be waiting in your inbox.
    </p>
</div>
