@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.HomeViewModel>

<div class="container-fluid">
    <div class="section-header">
        <h1>Call <small class="light">for Papers</small></h1>
    </div>
    <p class="lead">
        You can submit your session proposal(s) to DevDay 2015 on this site.
        We will review all submissions and get back to you no later than on 31st of May.
        For all accepted speakers we offer travel and accomodation if needed. We can't offer refunds for lightning talks speakers though.
        We are waiting for all your inspiring and informational talks!
        Please note that we want to give opportunity to speakers who had never been to DevDay therefore we sadly won't accept submissions from last years' speakers.
    </p>
</div>