@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.HomeViewModel>

<div class="container-fluid">
    <div class="section-header">
        <h1>Call <small class="light">for Papers</small></h1>
    </div>
        @if (!@Model.ProfileComplete) {
            <p class="lead">Your details are incomplete. Please complete them on your <strong><a href="/account/profile">profile</a></strong> page to help us get to know you better.</p>
        }
        <p class="lead">You have @Model.PapersSubmitted @(Model.PapersSubmitted == 1 ? "paper" : "papers") submitted. You can add, edit and delete your submissions on <strong><a href="/papers">papers</a></strong> page. We will review all of them after the CFP is closed on the <strong>15th of June</strong>. You'll get an answer by the end of June.</p>

        <p class="lead">We keep our fingers crossed for all the inspirational and informative sessions you have prepared!</p>

        <p class="lead">You may also be interested in <strong><a href="http://33degree.net">33degree.NET</a></strong> conference which is happening 8th-9th of October in Kraków. CFP for this conference already started and the link is here: <strong><a href="http://cfp.33degree.net">33degree.NET CFP</a></strong></p>
</div>
