@using System
<div class="section-header">
    <h1>Account Token Not Valid</h1>
</div>
<div class="row">
    <div class="col-lg-offset-1 col-md-10">
        We're sorry, but that activation link is not valid.
    </div>
</div>