@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.HomeViewModel>

<div class="container-fluid">
    <div class="section-header">
        <h1>Call <small class="light">for Papers</small></h1>
    </div>

    <p class="lead">
        You can submit your session proposal(s) to DevDay 2015 on this site. We're looking for inspirational and informational talks on software development! You can look at previous editions of DevDay to get the feeling on what we're looking for.
    </p>

    <p class="lead">
    For all <strong>accepted</strong> speakers we offer travel and accomodation if needed. We can't offer refunds for lightning talks though.
    </p>

    <p class="lead">
        Please note that we want to give opportunity to speakers who had never been to DevDay therefore we won't accept submissions from last years' speakers.
    </p>
</div>