@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.HomeViewModel>

<div class="container-fluid">
    <div class="section-header">
        <h1>Call <small class="light">for Papers</small></h1>
    </div>

    <p class="lead">
        You can submit your <a href="/papers">session proposals</a> to DevDay 2015 on this site. We're looking for inspirational and informative talks on software development! You can take a look at previous editions of DevDay to get the feel of what we're searching for.
    </p>

    <p class="lead">
    For all <strong>accepted</strong> speakers we offer travel and accomodation if needed. We can't offer refunds for lightning talks though.
    </p>

    <p class="lead">
        Please note that this year we want to promote new speakers who have not spoken at DevDay before. For that reason we won't accept submissions from last years' speakers.
    </p>
</div>
