body {
    background: #f2f2f4 url(../images/background_grid.png);
}

/* --------------------- */

.profile-image {
    height: 40px;
    width: 40px;
}

.profile-image-big {
    height: 80px;
    width: 80px;
    display: block;
}


/* Side notes for calling out things
-------------------------------------------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }


/* Cropit
-------------------------------------------------- */
.cropit-image-preview {
    /* You can specify preview size in CSS */
    width: 80px;
    height: 80px;
}

/* Translucent background image */
.cropit-image-background {
    opacity: .4;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
.cropit-image-zoom-input {
    position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
    overflow: hidden;
    width: 220px;
}
