body {
    padding-top: 20px;
    font-size: 16px;
    line-height: 24px;
    color: #5e5e5e;
    background: #f2f2f4 url(../images/background_grid.png);
}

.container {
    background: white;
    margin: 20px auto;
    width: 90%;
    max-width: 1250px;
    overflow: hidden;
    border: 1px solid white;
    border-color: rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: 0 0 40px #000000, 0 0 50px #000000 inset;
    -moz-box-shadow: 0 0 40px #000000, 0 0 50px #000000 inset;
    -moz-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 0 40px #000000, 0 0 50px #000000 inset;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.3), 0 0 50px rgba(0, 0, 0, 0.1) inset;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.container-fluid {
    padding: 0 40px;
}

/* NavBar Overrides */

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    min-height: 85px;
}

    .navbar-default .navbar-nav {
        font-size: 16px;
    }

        .navbar-default .navbar-nav > .active > a {
            background-color: transparent;
            text-decoration: underline;
        }

            .navbar-default .navbar-nav > .active > a:hover {
                background-color: transparent;
                font-weight: bold;
            }

        .navbar-default .navbar-nav > li > a {
            padding-top: 30px;
        }

        .navbar-default .navbar-nav > li.avatarItem {
            padding-top: 5px;
            margin-top: 15px;
        }

        .navbar-default .navbar-nav .navbar-btn {
            margin-top: 23px;
        }

.navbar-header {
    padding-top: 4px;
}

.navbar-brand {
    height: auto;
    margin-left: -16px !important;
}

    .navbar-brand img {
        height: 47px;
        width: 210px;
    }

/* ----------- */

.footer {
    margin-top: 40px;
    margin-bottom: 40px;
    -ms-text-shadow: 1px 1px 0 white;
    text-shadow: 1px 1px 0 white;
}

    .footer .container {
        background: transparent;
        border-color: transparent;
        margin: 0 auto;
        border: 0;
        border-color: #ffffff;
        border-color: rgba(255, 255, 255, 0.5);
        -webkit-box-shadow: 0 0 0 #000000, 0 0 0 #000000 inset;
        -moz-box-shadow: 0 0 0 #000000, 0 0 0 #000000 inset;
        -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 rgba(0, 0, 0, 0) inset;
        box-shadow: 0 0 0 #000000, 0 0 0 #000000 inset;
        box-shadow: 0 0 0 rgba(0, 0, 0, 0.3), 0 0 0 rgba(0, 0, 0, 0) inset;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 0 40px;
    }

    .footer h3 {
        font-size: 18px;
        font-weight: bold;
        line-height: 24px;
        margin: 0 0 12px 0;
        text-rendering: optimizelegibility;
        color: #222222;
    }

    .footer p {
        margin: 0 0 12px 0;
    }

    .footer a {
        color: #222222;
    }

.section {
    position: relative;
    -webkit-background-size: cover !important;
    -moz-background-size: cover !important;
    -o-background-size: cover !important;
    background-size: cover !important;
}

.section-alt {
    background-color: #f2f2f4;
}

    .section-alt:before, .section-alt:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 20px;
        left: 0;
        background-repeat: no-repeat;
        background-size: 100% 20px;
        z-index: 100;
    }

    .section-alt:before {
        top: 0;
        background-image: url(../images/top-shadow.png);
    }

    .section-alt:after {
        bottom: 0;
        background-image: url(../images/bottom-shadow.png);
    }

.section-padded {
    padding: 40px 0;
}

.section-header {
    text-align: center;
    position: relative;
    border-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    margin-bottom: 36px;
}

    .section-header h1 {
        text-align: center;
        display: inline-block;
        border-bottom: 0;
        padding: 0 24px;
        background-color: white;
        position: relative;
        z-index: 1;
        margin: 0;
    }

        .section-header h1 small {
            font-size: inherit;
            text-transform: uppercase;
        }

.section-alt .section-header h1 {
    background-color: #f2f2f4;
}

.section-header:before, .section-header:after {
    content: "";
    position: absolute;
    width: 30%;
    height: 1px;
    background-color: #f2f2f4;
    -webkit-box-shadow: 0 1px 0 white;
    -moz-box-shadow: 0 1px 0 white;
    box-shadow: 0 1px 0 white;
    top: 50%;
    z-index: 0;
}

.section-alt .section-header:before, .section-alt .section-header:after {
    background-color: #d8d8d8;
}

.section-header:before {
    left: 0;
}

.section-header:after {
    right: 0;
}

.big {
    font-size: 1.5em;
}


.light {
    font-weight: 300;
}

.social-icons a {
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

button span.glyphicon {
    margin-right: 5px;
}

.profile-image {
    height: 40px;
    width: 40px;
}

.profile-image-big {
    height: 80px;
    width: 80px;
    display: block;
}


/* --------------------- */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}



/* Side notes for calling out things
-------------------------------------------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }

/* Media Queries
-------------------------------------------------- */
/* Small desktop */
@media (max-width: 979px) {
    body {
        padding-top: 0;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .small-screen-center {
        margin-left: auto;
        margin-right: auto;
        text-align: center !important;
    }

    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
        margin-left: -1px;
    }
}

/* Landscape phone to small desktop & porttrait tablet - */
@media (max-width: 767px) {
  h1 {
    font-size: 24px;
    line-height: 36px;
  }

  h1 small {
    font-size: 16px;
  }

  h2 {
    font-size: 21px;
    line-height: 36px;
  }

  h2 small {
    font-size: 14px;
  }

  h3 {
    font-size: 18px;
    line-height: 36px;
  }

  h3 small {
    font-size: 14px;
  }

  .super {
    font-size: 48px;
  }

  .hyper {
    font-size: 70px;
  }

  /* -- 9.4.2 Layout -- */
  body {
    padding: 0;
  }

  .container-fluid {
    padding: 0 20px;
  }

  .nav > li > a {
    font-size: 16px;
  }

  .sidebar {
    margin-top: 24px;
    padding-top: 24px;
    border-top: 1px solid #f2f2f4;
  }

}

/* - Up to portrait phone  - */
@media (max-width: 320px) {
  body {
    font-size: 14px;
  }

  h1 {
    font-size: 21px;
    line-height: 24px;
  }

  h1 small {
    font-size: 14px;
  }

  h2 {
    font-size: 18px;
    line-height: 24px;
  }

  h2 small {
    font-size: 12px;
  }

  h3 {
    font-size: 16px;
    line-height: 24px;
  }

  h3 small {
    font-size: 11px;
  }

  .super {
    font-size: 24px;
    line-height: 1;
  }

  .hyper {
    font-size: 36px;
  }
}

/* Cropit
-------------------------------------------------- */
.cropit-image-preview {
    /* You can specify preview size in CSS */
    width: 80px;
    height: 80px;
}

/* Translucent background image */
.cropit-image-background {
    opacity: .4;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
.cropit-image-zoom-input {
    position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
    overflow: hidden;
    width: 220px;
}
