body {
    line-height: 24px;
    color: #5e5e5e;
    background: #f2f2f4 url(../images/background_grid.png);
}


/* NavBar Overrides */

.navbar {
    margin-bottom: 0px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
    min-height: 85px;
}

    .navbar-default .navbar-nav {
    }

        .navbar-default .navbar-nav > .active > a {
            background-color: transparent;
            text-decoration: underline;
        }

            .navbar-default .navbar-nav > .active > a:hover {
                background-color: transparent;
                font-weight: bold;
            }

        .navbar-default .navbar-nav > li > a {
            padding-top: 30px;
        }

        .navbar-default .navbar-nav > li.avatarItem {
            padding-top: 5px;
            margin-top: 15px;
        }

        .navbar-default .navbar-nav .navbar-btn {
            margin-top: 23px;
        }

.navbar-header {
    padding-top: 4px;
}

.navbar-brand {
    height: auto;
}

    .navbar-brand img {
        height: 47px;
        width: 210px;
    }

/* --------------------- */

footer h3 {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0 0 12px 0;
    text-rendering: optimizelegibility;
    color: #222222;
}

footer p {
    margin: 0 0 12px 0;
}

footer a {
    color: #222222;
}

.social-icons a {
    color: #000;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
    transition: all 0.3s;
}

button span.glyphicon {
    margin-right: 5px;
}

.profile-image {
    height: 40px;
    width: 40px;
}

.profile-image-big {
    height: 80px;
    width: 80px;
    display: block;
}


/* --------------------- */
.margin-top-10 {
    margin-top: 10px;
}

.margin-top-30 {
    margin-top: 30px;
}



/* Side notes for calling out things
-------------------------------------------------- */

.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}

    .bs-callout h4 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .bs-callout p:last-child {
        margin-bottom: 0;
    }

    .bs-callout code {
        border-radius: 3px;
    }

    .bs-callout + .bs-callout {
        margin-top: -5px;
    }

.bs-callout-default {
    border-left-color: #777;
}

    .bs-callout-default h4 {
        color: #777;
    }

.bs-callout-primary {
    border-left-color: #428bca;
}

    .bs-callout-primary h4 {
        color: #428bca;
    }

.bs-callout-success {
    border-left-color: #5cb85c;
}

    .bs-callout-success h4 {
        color: #5cb85c;
    }

.bs-callout-danger {
    border-left-color: #d9534f;
}

    .bs-callout-danger h4 {
        color: #d9534f;
    }

.bs-callout-warning {
    border-left-color: #f0ad4e;
}

    .bs-callout-warning h4 {
        color: #f0ad4e;
    }

.bs-callout-info {
    border-left-color: #5bc0de;
}

    .bs-callout-info h4 {
        color: #5bc0de;
    }


/* Cropit
-------------------------------------------------- */
.cropit-image-preview {
    /* You can specify preview size in CSS */
    width: 80px;
    height: 80px;
}

/* Translucent background image */
.cropit-image-background {
    opacity: .4;
}

/*
 * If the slider or anything else is covered by the background image,
 * use relative or absolute position on it
 */
.cropit-image-zoom-input {
    position: relative;
}

/* Limit the background image by adding overflow: hidden */
#image-cropper {
    overflow: hidden;
    width: 220px;
}
