@using System.Linq
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<System.Collections.Generic.IList<DevDayCFP.Models.Paper>>

<div class="container-fluid">
    <div class="section-header">
        <h1>Submitted <small class="light">Papers</small></h1>
    </div>

    <div class="row-fluid" id="papers">
        <div class="row-fluid">
            <div class="span12">
                <form class="form-inline pull-right">
                    <input class="control-group search" placeholder="Search" />
                    <button type="button" class="btn btn-primary sort" data-sort="name">Sort by username</button>
                    <button type="button" class="btn btn-primary sort" data-sort="title">Sort by title</button>
                </form>
            </div>
        </div>

        <div class="row-fluid margin-top-30">
            <div class="span12">
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>User</th>
                            <th>Title</th>
                            <th>Last modification</th>
                            <th>Deleted</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="list">
                        @for (int i = 0; i < Model.Count(); i++)
                        {
                            <tr>
                                <td>@(i + 1).</td>
                                <td class="name">@Model[i].User.UserName</td>
                                <td class="title text-capitalize">@Model[i].Title</td>
                                <td>@Model[i].LastModificationDate.ToLocalTime()</td>
                                <td>@if(!Model[i].IsActive) { <i class="icon-remove"></i> }</td>
                                <td>
                                    <a class="" href="/allpapers/details/@Model[i].Id"><i class="icon-folder-open"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="/Scripts/list.min.js" type="text/javascript"></script>
    
<script type="text/javascript">
    $(document).ready(function () {
        var options = {
            valueNames: ['name', 'title']
        };

        var userList = new List('papers', options);
    });
</script>

}