@using System.Linq
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta content="yes" name="apple-mobile-web-app-capable">

    <title>DevDay 2015 CFP</title>

    <link href="~/Content/favicon.ico" rel="shortcut icon">

    <link href="~/Content/bootstrap.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/responsive.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome-all.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/fancybox.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme.css?v=2" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/theme-custom.css" media="screen" rel="stylesheet" type="text/css" />

    <link href="~/Content/fonts.css" media="screen" rel="stylesheet" type="text/css" />

    <link href="~/Content/style.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/margins.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="~/Content/parsley.css" media="screen" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="wrapper">
        <header id="masthead">
            <nav class="navbar navbar-static-top">
                <div class="navbar-inner">
                    <div class="container-fluid">
                        <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </a>
                        <a href="/" class="brand">
                            <img src="/images/logo_2015.svg" />
                        </a>

                        <div class="nav-collapse collapse">
                            <ul class="nav pull-right">
                                <li class=""><a href="/">Home</a></li>
                                @if (ViewBag.Page.Value.IsAuthenticated)
                                {
                                    <li class=""><a href="/papers">Papers</a></li>
                                    <li class=""><a href="/account/profile">Profile</a></li>

                                    if (Context.CurrentUser.Claims.Contains(DevDayCFP.Common.Consts.Claims.Admin))
                                    {
                                        <li class=""><a href="/allpapers">All Papers</a></li>
                                    }
                                }

                                @Html.Partial("Shared/_LoginPanel")
                            </ul>
                        </div>
                    </div>
                </div>
            </nav>
        </header>

        <div id="content" role="main">
            <section class="section section-alt section-padded">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section>

            <section class="section section-padded">
                <div class="container-fluid">
                    <div class="section-header">
                    </div>
                </div>
            </section>
        </div>
    </div>

    <footer id="footer" role="contextinfo">
        <div class="wrapper wrapper-transparent">
            <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span6 small-screen-center">
                        <h3>
                            DEVDAY
                        </h3>
                        <p>
                            created with passion and ❤
                            <br>
                            <a href="mailto:contact@devday.pl">contact@devday.pl</a>
                        </p>
                    </div>
                    <div class="span6">
                        <ul class="unstyled inline text-right small-screen-center big social-icons">
                            <li>
                                <a href="http://twitter.com/abbdevday">
                                    <i class="icon-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://facebook.com/abbdevday">
                                    <i class="icon-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/b/113103877740934428492/113103877740934428492/posts">
                                    <i class="icon-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="http://youtube.com/abbdevday">
                                    <i class="icon-youtube"></i>
                                </a>
                            </li>
                            <li>
                                <a href="https://www.flickr.com/photos/96896358@N04/">
                                    <i class="icon-flickr"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="/Scripts/jquery-2.1.3.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.flexslider-min.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.tweet.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.fancybox.pack.js"></script>

    <script type="text/javascript" src="/Scripts/jquery.fancybox-media.js"></script>

    <script type="text/javascript" src="/Scripts/script.js"></script>

    <script type="text/javascript" src="/Scripts/parsley.js"></script>

    @RenderSection("scripts", false)
</body>
</html>
