@if (ViewBag.Page.Value.IsAuthenticated)
{
    <li><a href="/Account/Logout">Logout</a></li>
}
else
{
    <li><a href="/Account/Login">Login</a></li>
    <li><div><a href="/Account/Register" class="btn btn-primary navbar-btn">Register</a></div></li>
}