@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.RegisterMailViewModel>
@using System
@{
    Layout = "Views/Shared/_LayoutMail.cshtml";
}

@{
    var url = String.Format("{0}/account/activate/{1}", Model.Hostname, Model.User.RegistrationToken);    
}

<p>Hi,</p>
<p>Thanks for the interest in sending us your session suggestions.</p>
<p>Follow the below link to activate your account and proceed to creation of your profile.</p>
<p><a href="@url">@url</a></p>

<p>Looking forward to your submissions!<br/>DevDay Team</p>
