@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.ResetPasswordMailViewModel>

@{
    Layout = "Views/Shared/_LayoutMail.cshtml";
}


@{
    string url = String.Format("{0}/account/resetpassword/{1}", Model.HostName, Model.Token);
}
<html>
    <body>
        <h3>Click below link to reset!</h3>
        <p><a href="@url">@url</a></p>
    </body>
</html>