@using System
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<DevDayCFP.ViewModels.ResetPasswordMailViewModel>

@{
    Layout = "Views/Shared/_LayoutMail.cshtml";
}


@{
    string url = String.Format("{0}/account/resetpassword/{1}", Model.HostName, Model.Token);
}
<p>Hi,</p>
<p>Did you forget your password? Don't worry, just click the link below to reset:</p>
<p><a href="@url">@url</a></p>

<p>Looking forward to your submissions! <br/> DevDay Team</p>